DATABASE_URL=
DATABASE_MIGRATION_URL=

BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

RESEND_API_KEY=
SYSTEM_EMAIL_ID=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_NAMESPACE=

WEB_URL=
ADMIN_URL=

PORT=3000